<div class="shoe">
    <img src="https://i1.t4s.cz/products/3023295-602/under-armour-ua-w-hovr-phantom-se-trek-263676-3023295-603.jpg">
    <h3>Under Armour HOVR</h3>
    <a href="">Buy it for $149,99</a>
</div>