<div class="container">
    {{#if isAuthenticated}}
         <div class="shoes">
        {{#if shoes}}
        {{#each shoes}}
        {{> shoe}}
        {{/each}}
        {{else}}
        <span class="no-shoes">No shoes to display. Be the first to create a new offer...</span>
        {{/if}}
         </div>
        {{else}}
        <div class="about-us">
        <div>
            <img src="/img/shoes.jpg" alt="">
            <img src="/img/shoes2.jpg" alt="">
        </div>
        <p>
           <a href="/auth/register">Register Now</a> and Try it!
        </p>
        {{/if}}
    </div>
</div>